

html{ font-size: 62.5%; }

body{
       
    font-weight: 400, 700;
    font-size: 1.4rem;
    background: linear-gradient(hsl(217, 28%, 15%) 30%, hsl(218, 28%, 13%) 30% );

}
:root{
    --body:hsl(218, 28%, 13%);
    --footer:hsl(216, 53%, 9%);
    --testimonials :hsl(219, 30%, 18%);
    --intro-and-email-sign-up: hsl(217, 28%, 15%);
    --inside-call-to-action1:hsl(176, 68%, 64%);
    --inside-call-to-action:hsl(198, 60%, 50%);
    --White: hsl(0, 0%, 100%);
    --font-body: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
    --font-footer-header:'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
      
}
/*========header========  */
.cabecalho-container{
    display: flex;
    justify-content: space-between;
    padding: 6rem 6rem;
    align-items: center;
    font-size: 1.4rem;
       
}
.cabecalho-container ul {
    display: flex;
    flex-direction: row;
    
}
.cabecalho-container li{
    padding: 10px;
}
.cabecalho-container ul li a{
    font-weight: 500;
    font-family: var(--font-footer-header);
    
    color:hsl(219, 10%, 60%);

}
.cabecalho-container ul li a:hover{
    font-size: 1.6rem;
    transition: 0.3s ease-in-out;
    color:white;
}
/* ========section intro========= */
 .intro{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
    
.intro-container img{
   display: block;
   margin: auto;
   width: auto;  
}

.information h1{
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
    color: var(--White);
    line-height: 4rem;
    margin-bottom: 25px;
    font-weight: 700;
   
}
.information p{
   
    font-size: 1.5rem;
    text-align: center;
    color:hsl(219, 10%, 60%);
    font-weight: 500;
    line-height: 2rem;
    margin: auto;
}
button{
   border: 1px solid hsl(217, 28%, 15%);
   display: block;
   margin: 0 auto;
   margin-top: 20px;
   font-size: 12px;
   padding: 10px 50px;
   border-radius: 20px;
   background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
   color:var(--White)
   
}

.curve-desktop{
    width: 100%;
    height: 50vh;
    position:relative;
    top:-174px;
    z-index: -1;
}

/* ======produto===== */
.container{
    display: grid;
    /* grid-template-areas: "access access" 
                          "security security"
                          "real-time realtime"
                          "files files"; */
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding:0 20rem;
    background-color: var(--body);
    position: relative;
    top: -180px;
                       
}
.container h1{
    color: var(--White);
    margin-top: 30px;
    margin-bottom: 15px;
    
}
.container p{
    color:hsl(219, 10%, 60%);
    line-height: 20px;
    font-weight: 500;
}

.access{
      /* grid-area: access; */
     display: grid;
     grid-template-columns: 2 1fr;
    /* grid-template-rows: (1,1fr); */
     text-align: center;
     max-width: 34rem;
     margin: 0 auto;
     
}
.acesso img{
   display: block;
   margin: 0 auto;
}

.security{
    /* grid-area: security; */
    display: grid;
    grid-template-columns: 2 1fr;
    /* grid-template-rows: (1,1fr); */
    text-align: center;
    max-width: 34rem;
    margin: 0 auto;
}
.seguranca img{
    display: block;
    margin: 0 auto;
    
}

.collaboration{
    display: grid;
    /* grid-area: collaboration; */
    grid-template-columns: repeat(2 1fr);
    /* grid-template-rows: (1,1fr); */
    text-align: center;
    max-width: 34rem;
    margin: 0 auto;
}
.collaboration img{
    display: block;
    margin: 0 auto;
}

.files{
    display: grid;
    /* grid-area: files; */
    grid-template-columns: repeat(2 1fr);
    /* grid-template-rows: (1,1fr); */
    text-align: center;
    max-width: 34rem;
    margin: 0 auto;
}
.files img{
    display: block;
    margin: 0 auto;
}

/* =====productive===== */
.productive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 40px;
    
}
.productive img{
    margin-right: 40px;
}
.productive h2{
    font-weight: 700;
    color: var(--White);
    font-size: 3rem;
    max-width: 30rem;
    padding-bottom: 15px;
}
p{
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 10px;
    color:hsl(219, 10%, 60%);
    max-width: 50rem;
}

.link a {
    color:var(--inside-call-to-action1);
    }
    
.link{
   
    padding-bottom: 0;
}

hr{
    border-color: var(--inside-call-to-action1);
    width: 130px;
} 
/* ====team===== */
.team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:150px 40px;
    gap: 40px;
    
}

.profile-1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-1{
    padding-top: 10px;
    display: flex;
     
}
.profile-1 span{
    color: var(--White);
    font-size: 1.3rem;
  
}
.name{
    font-size: 1rem;
}

.comentario-1{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    height: 100%;
    justify-content: center;
    background-color: var(--intro-and-email-sign-up);
    
}
.comentario-2{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    height: 100%;
    justify-content: center;
    background-color: var(--intro-and-email-sign-up);
    
}
.profile-2{
    padding-top: 10px;
    display: flex;
     
    
}
.profile-2 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-2 span{
    color:var(--White);
    font-size: 1.3rem;
}
.comentario-3{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    height: 100%;
    justify-content: center;
    background-color: var(--intro-and-email-sign-up);
}
.profile-3{
    padding-top: 10px;
    display: flex;
    
}

.profile-3 img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
}
.profile-3 span{
        color:var(--White);
        font-size: 1.3rem;
    }   

/* =====Registro====== */
.register{
    
    position: relative;
    top: 100px;
    z-index: 1;
    width: 870px;
    max-width: 100%;
    background-color: var(--intro-and-email-sign-up);
    padding: 50px 20px 40px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    
}
.register h2{
    color: var(--White);
    margin-bottom: 15px;
    font-size: 3rem;
}
.register p{
    padding-bottom: 0;
    font-weight: 500;
    max-width: 650px;
    margin:0 auto 30px;
}
.register form{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
    
}
.register input{
    background-color: bisque;
    height: 50px;
    width: 480px;
    max-width: 100%;
    padding: 0 10px;
    border-radius: 25px;
    border: none;
    color: gray;
  
}
.register button{
    height: 50px;
    width: 200px;
    margin-left: 20px;
    border: none;
    border-radius: 25px;
    margin:auto;
    font-size: 1.2rem;
    text-align: center;
}

/* ====footer==== */
.footer{
  
    background-color: hsl(216, 53%, 9%);
    display: flex;
    padding: 190px 50px ;
    justify-content: space-between;
    align-items: center;
   
   
}
.text-rodape{
    margin-top: -30px;
    
}
.texto-rodape{
    display: flex;
      
}
.img-rodape{
    margin-bottom: 3rem;
}
.texto-rodape img{
    width: 14px;
    height: 15px;
    
}
.texto-rodape p{
    padding-left: 10px;
    padding-bottom: 0;
}
.contatos-rodape{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    
}
.phone{
    display: flex;
    gap: 15px;
    padding-bottom:15px;
}
.phone img{
    width: 15px;
    height: 16px;
}
.email{
    display: flex;
    gap: 15px;
}
.email img{
    width: 15px;
    height: 16px;
}
.lista-rodape{
    display: flex;
    gap: 30px;
    padding-top: 39px;
}
.lista-rodape a{
    color: hsl(219, 10%, 60%);
    line-height: 30px;
}


